html {
  //min-height: 100%;
  //background-image: url();
}
h1{
font-family:sans-serif;
}

h2{
font-family:sans-serif;
}

h3{
font-family:sans-serif;
}
a{
    font-family:Helvetica Neue;
}
.title{
  border-radius: 25px;
  background: #7ec0ee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 200px;
  margin: left; 
}
.exercises{
  border-radius: 25px;
  background: #FF4449;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 200px;
  margin-left: 45%;
  margin-top: -600px; 
}
.presentation{
  border-radius: 25px;
  background: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 120px;
  margin-top: -30px;
  margin-left: 40%;
}
.projects{
  border-radius: 25px;
  background: #AEF359;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 350px;
  margin-left: 20%; 
  margin-top: -90px;
}
.discussion{
  border-radius: 25px;
  background: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 300px;
  margin-top: -100px;
  margin-left: 60%;}
.feed{
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 20px;
  width: 350px;
  height: 175px;
  overflow: scroll;
}
