html {
  //min-height: 100%;
  //background-image: url();
}
h1{
font-family:sans-serif;
}

h2{
font-family:sans-serif;
}

h3{
font-family:sans-serif;
}
.title{
  border-radius: 25px;
  background: #7ec0ee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 200px;
  margin: left; 
}
.exercises{
  border-radius: 25px;
  background: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 200px;
  margin-left: 775px;
  margin-top: -200px; 
}
.presentation{
  border-radius: 25px;
  background: green;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 120px;
  margin-left: 50px; 
  margin-top: 800 px;
}
.projects{
  border-radius: 25px;
  background: purple;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 400px;
  margin-left: 350px; 
  margin-top: 0px;
}
.discussion{
  border-radius: 25px;
  background: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  width: 400px;
  height: 200px;
  margin-top: -200px;
  margin-left: 750px;
}